.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-list {
  max-width: 600px;
  max-height: 300px;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.item {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.icon {
  width: 100%;
  height: 200px;
  pointer-events: none;
}

.title {
  text-align: center;
}


.selected {
  padding: 2px;
  background: 
  linear-gradient(90deg, blue 50%, transparent 0) repeat-x,
  linear-gradient(90deg, blue 50%, transparent 0) repeat-x,
  linear-gradient(0deg, blue 50%, transparent 0) repeat-y,
  linear-gradient(0deg, blue 50%, transparent 0) repeat-y;
  background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove .3s infinite linear;
}


@keyframes linearGradientMove {
  100% {
      background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}

.config-btns {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}


.hidden {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -100;
}