.container {
  background: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.switch {
  display: flex;
  align-items: center;
  gap: 6px;
}

.grid {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(20, 25px);
  grid-template-columns: repeat(20, 25px);
  position: relative;
  z-index: 100;
}

.grid-markup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  display: grid;
  grid-template-rows: repeat(20, 25px);
  grid-template-columns: repeat(20, 25px);
}

.on > div {
  border-right: 1px solid rgb(255 255 255 / 30%);
  border-bottom: 1px solid rgb(255 255 255 / 30%);
}

.plan-item {
  position: relative;
  width: 50px;
  height: 50px;
  background-size: cover;
  cursor: move;
}

.selected {
  border: 1px solid lightgreen;
}


@keyframes linearGradientMove {
  100% {
      background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }
}